// primary styles 

$black: #000;
$charcoal: #3a3a3a;
$white: #fff;
$blue: #000099;
$red: #ff0000;
$orange: #E85E39;

$lightgray: rgb(245,245,245);
$dark_gray: #58595B;
$light_gray: #aaabad;
$teal: #61ABB8;
$pagebggray: rgb(240, 240, 240);
$textgray: #ABABAB;

$headerblue: #000099;
$topheaderblue1: #00003E;
$topheaderblue2: #000063;
$topheaderblue3: #0000A5;
$topheaderblue4: #0101BD;

$green: #31B404;
